<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>

    <meta charset="UTE-8">

    <meta name="_csrf_param" th:content="${_csrf.parameterName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>index</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Telex" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            var num = 1;
            $('#plusbutton').click(function () {
                num++;
                if (num < 11) {
                    $('.aa').append(
                        '<div class="aaa" style="overflow: hidden;">' +
                        '<label class="curriculum" for="curriculumContent" style="font-size: 1.3em; display: block; text-align: left; margin-top:3%;"  >' + 'STEP ' + num + ' :' + '</label>' +
                        '<input type="text" id="curriculumContent" name="curriculumContent" style="padding:2% 1%;margin: 1% auto;width:85%; float: left;"\n' +
                        '                   placeholder="커리큘럼을 입력해주세요" autofocus required> ' +
                        '</div>'
                    )} else {
                    alert('추가불가');
                }
                $('div[class=aaa]:last').append('<img id="minus" src="/images/211774-64.png" style="margin-top:3%; width:10%; float:right;  ">')
               if(num>1){
                $('#minus').not('div[class=aaa]:last').remove();}
            });
            $(document).on("click", "img[id=minus]:last", function () {
                $('div[class=aaa]:last').remove();
                $('#minus').not('div[class=aaa]:last').remove();
                $('div[class=aaa]:last').append('<img id="minus" src="/images/211774-64.png" style="margin-top:3%; width:10%; float:right; ">')
                num--;
            });
        });

        function curriculumlist(){
            var curriculumContent = $('#curriculumContent').val();
            var studyId = $('#studyId').val();

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var contentlength = $('input[name="curriculumContent"]').length;

            var arr = new Array();
            $("input[name=curriculumContent]").each(function (index, item) {
                var obj = new Object();
                obj.studyId = $('#studyId').val();
                obj.curriculumContent = $(item).val();
                arr.push(obj);
            });


            var jsonData = JSON.stringify(arr);

            $.ajax({
                url: "/api/curriculum",
                type: 'POST',
                data:jsonData,
                async: true,
                // dataType:"json",
                contentType: "application/json",
                beforeSend: function( xhr ) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    location.href='/study/';
                },
                error: function (err) {
                    console.log(err.toString());
                }
            });
        }





    </script>
    <style>


    </style>


</head>

<body>
<div id="wrap">
    <header>
        <div class="logo">
            <img src="/images/logo.png">
        </div>
        <nav class="categorymenu">
            <ul>
                <li><a href="#">IT</a></li>
                <li><a href="#">어학</a></li>
                <li><a href="#">취업</a></li>
                <li><a href="#">기타</a></li>

            </ul>
        </nav>

        <div>
            <div class="buttonmenu" style="z-index: -10;">
                <input type="checkbox" id="click" class="tog">
                <label for="click" class="ham"><img src="/images/menu.png"></label>


                <nav class="clickmenu">
                    <ul>
                        <li class="fir"><h3>000님 환영합니다</h3><a href="/users/mypage">MY</a> / <a href="/logout">LOGOUT</a>
                        </li>

                        <li><a href="/study/list">MY STUDY</a></li>
                        <li><a href="/recruitstudy/list">STUDY 찾기</a></li>
                        <li><a href="/study/">STUDY 일정</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div id="cbox" style="width:100%;height:100%;margin:10% auto; text-align: center;">
        <form style="width:80%;margin: 0 auto;font-size:0.8em;font-weight:bold;">


            </br></br>
            <div class="aa" style="overflow: hidden;">
                <p th:text="'study이름 : ' +${study.studyName}" style="text-align: left; color:#666;">study</p><br>
                <input type="hidden" th:value="${study.studyId}" id="studyId" name="studyId">
                <div class="aaa" style="overflow: hidden;">
                    <label class="curriculum" for="curriculumContent" style="font-size: 1.3em; display: block; text-align: left; margin-top:3%;">STEP
                        1 :</label>
                    <input type="text" id="curriculumContent" name="curriculumContent"
                           style="padding:2% 1%;margin: 1% auto;width:85%; float: left;"
                           placeholder="커리큘럼을 입력해주세요" autofocus required>
                    <img id="minus" src="/images/211774-64.png" style="margin-top:3%; width:10%; float:right; ">

                </div>
            </div>
            <img id="plusbutton" src="/images/211802-64.png" style="text-align:center; margin-top:3%; width:12%">


            <br>
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>

            <input onclick="curriculumlist()" type="button" id="next" value="등록"
                   style="width:30%; float:right; color:#666; border:1px solid #f2cc32;background-color:#fff;">
        </form>

        <div id="test"></div>
    </div>

</div>


</body>
</html>

