<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <title>addCode</title>
    <th:block layout:fragment="css"><link href="/css/addcode.css" rel = "stylesheet"></th:block>
</head>
<body>
<div class="info">
    <h2>스터디 추가</h2>

    <div class="bord"></div>

    <form action="/study/addByCode" method="post">

        <fieldset id="sec">
            <legend>정보</legend>
            <ul>


                <li>
                    <input type="text" id="code" name="code" placeholder="스터디 code를 입력해주세요" style="padding: 3%;" required>
                </li>

            </ul>
        </fieldset>

        <div class="bord" style="border:none;"></div>
        <!----------------------버튼------------------------------------------>
        <div class="bt">
            <div class="before button"><a href="/index">취소</a></div>
            <input type="submit" value="등록" id="btnregist" onclick="return tocheck()"/>
        </div>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>


    </form>
</div>


</body>
</html>