<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>

    <meta charset="UTE-8">

    <title>index</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Telex" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script type="text/javascript">
        // $(function(){
        //     $('c').click(function(){
        //         $('#curriculum').append;
        //     });
        // });

        $(document).ready(function () {
            var num =1;
            $('#plusbutton').click(function () {
                num++;

                $('.aa').append(
                    '<label class="curriculum" for="curriculum" style="font-size: 1.3em; float: left; margin-top:3%;"  > STEP :</label>'+
                    '<br><br><input type="text" id="curriculum" name="curriculum" style="padding:2% 1%;margin: 1% auto;width:95%;"\n' +
                    '                   placeholder="커리큘럼을 입력해주세요" autofocus required> '
                )
            });
        });


    </script>
    <style>


    </style>


</head>

<body>
<div id="wrap">
    <header>
        <div class="logo">
            <img src="/images/logo.png">
        </div>
        <nav class="categorymenu">
            <ul>
                <li><a href="#">IT</a></li>
                <li><a href="#">어학</a></li>
                <li><a href="#">취업</a></li>
                <li><a href="#">기타</a></li>

            </ul>
        </nav>

        <div>
            <div class="buttonmenu" style="z-index: -10;">
                <input type="checkbox" id="click" class="tog">
                <label for="click" class="ham"><img src="/images/menu.png"></label>


                <nav class="clickmenu">
                    <ul>
                        <li class="fir"><h3>000님 환영합니다</h3><a href="/users/mypage">MY</a> / <a href="/logout">LOGOUT</a>
                        </li>

                        <li><a href="/study/list">MY STUDY</a></li>
                        <li><a href="/recruitstudy/list">STUDY 찾기</a></li>
                        <li><a href="/study/">STUDY 일정</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div id="cbox" style="width:100%;height:100%;margin:10% auto; text-align: center;">
        <form method="post" action="api/curriculum" style="width:80%;margin: 0 auto;font-size:0.8em;font-weight:bold;">


            </br></br>
            <div class="aa">
                <label class="curriculum" for="curriculum" style="font-size: 1.3em; float: left; margin-top:3%;"  >STEP 1 :</label>
                <input type="text" id="curriculum" name="curriculum" style="padding:2% 1%;margin: 1% auto;width:95%;"
                       placeholder="커리큘럼을 입력해주세요" autofocus required>
            </div>
            <img id="plusbutton" src="/images/211802-64.png" style="text-align:center; margin-top:3%; width:12%">



            <br>
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>

            <input id="next" type="submit" value="등록"
                   style="width:30%; float:right; color:#666; border:1px solid #f2cc32;background-color:#fff;">
        </form>


    </div>

</div>


</body>
</html>

