<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <th:block layout:fragment="css"><link href="/css/study.css" rel = "stylesheet"></th:block>
</head>
<body>
<div class='main-content' id='main'>
        <div class='section'>
            <div id="contents">

                <div class="box" th:each="study : ${studyList}">

                    <img src="">
                    <h3><a th:href="'/study/studyDetail/'+${study.studyId}" th:text="${study.studyName}">studyName</a>
                    </h3>
                    <p th:text="${study.studyInformation}">studyInformation</p>
                </div>


            </div>
        </div>

    </div>

</body>
</html>
