<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <th:block layout:fragment="css"><link href="/css/study.css" rel = "stylesheet"></th:block>
</head>
<body>
<div class='main-content' id='main'>
        <div class='section'>
            <div id="contents">
                <h3 style="margin: 20px 0; padding-top:20px;">▷ MY STUDY</h3>
                <div class="box" th:each="study : ${studyList}" style="border-radius: 5px; overflow: hidden; padding:5%; height: 80px;">
                    <div th:switch="${study.category.categoryId}" class="study_box" style="width:15%; float: left;">
                        <p th:case="1"  class="cate_text" id="text_1" th:text="${study.category.categoryName}">recruitContent</p>
                        <p th:case="2"  class="cate_text" id="text_2" th:text="${study.category.categoryName}">recruitContent</p>
                        <p th:case="3"  class="cate_text" id="text_3" th:text="${study.category.categoryName}">recruitContent</p>
                        <p th:case="4"  class="cate_text" id="text_4" th:text="${study.category.categoryName}">recruitContent</p>
                    </div>

                    <div style="width:75%; height: 50px; float: right; border-left: 1px solid #666; padding-left: 10px;">
                    <h3><a th:href="'/study/studyDetail/'+${study.studyId}" th:text="${study.studyName}">studyName</a>
                    </h3>
                    <p th:text="${study.studyInformation}">studyInformation</p>

                    </div>
                </div>


            </div>
        </div>

    </div>

<script>
    $('document').ready(function () {
        $('p#text_1').parent('.study_box').parent('.box').css('border-left', '5px solid #ffcd00');
        $('p#text_2').parent('.study_box').parent('.box').css('border-left', '5px solid green');
        $('p#text_3').parent('.study_box').parent('.box').css('border-left', '5px solid rebeccapurple');
        $('p#text_4').parent('.study_box').parent('.box').css('border-left', '5px solid darkblue');

    });
</script>

</body>
</html>
