<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <th:block layout:fragment="css">
        <link href="/css/studyContent.css" rel = "stylesheet">
        <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css">
        <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
        <link rel="stylesheet" href="/tui-editor/node_modules/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="/tui-editor/node_modules/highlight.js/styles/github.css">

        <link rel="stylesheet" href="/tui-editor/node_modules/tui-editor/dist/tui-editor.css">
        <link rel="stylesheet" href="/tui-editor/node_modules/tui-editor/dist/tui-editor-contents.css">

        <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
        <script src="/tui-editor/node_modules/jquery/dist/jquery.js"></script>
        <script src="/tui-editor/node_modules/tui-code-snippet/dist/tui-code-snippet.js"></script>
        <script src="/tui-editor/node_modules/markdown-it/dist/markdown-it.js"></script>
        <script src="/tui-editor/node_modules/to-mark/dist/to-mark.js"></script>
        <script src="/tui-editor/node_modules/codemirror/lib/codemirror.js"></script>
        <script src="/tui-editor/node_modules/highlight.js/lib/highlight.js"></script>
        <script src="/tui-editor/node_modules/squire-rte/build/squire-raw.js"></script>
        <script src="/tui-editor/node_modules/tui-editor/dist/tui-editor-Editor-all.min.js"></script>

        <script src="/tui-editor/node_modules/tui-editor/dist/tui-editor-Viewer.js"></script>
        <script src="/tui-editor/node_modules/tui-editor/dist/tui-editor-Viewer.min.js"></script>
        <script src="/tui-editor/node_modules/tui-editor/dist/tui-editor-Viewer-all.js"></script>
        <script src="/tui-editor/node_modules/tui-editor/dist/tui-editor-Viewer-full.min.js"></script>
        <script src="/tui-editor/node_modules/tui-editor/dist/tui-editor-Viewer-full.js"></script>
        <script src="/tui-editor/node_modules/tui-editor/dist/tui-editor-Editor.js"></script>
    </th:block>


</head>
<body>

<div class="info">
    <h3 th:text="${curriculumContent}" style="margin-left:1%; margin-top: .5em;"></h3>
    <p th:text="${curriculumDetailContent}" style="margin-left:1%; "></p>
    <div class="bord"></div>

    <!--<form action="/users/join" method="post">-->

    <fieldset id="sec">
        <input type="hidden" id="content" th:value="${studyContent.content}"
           style="margin-left:1%; margin-top:.5%; font-size: .9em; color: #c2c2c2;"><br>
        <div id="viewerSection"></div>
        <script>

            var editor = new tui.Editor.factory({
                el: document.querySelector('#viewerSection'),
                viewer:true,
                initialEditType: 'markdown',
                height: '500px',
                initialValue: document.getElementById("content").value
            });
        </script>
    </fieldset>

    <div class="bord"></div>


    <div class="bt">
        <input type="button" value="작성" class="btn" id="register"
               th:onclick="'gotoRegister('+${curriculumDetailId}+')'"/>
        <input type="button" value="목록" class="btn" id="list" onclick="gotolist()"/>
    </div>

    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

</div>


<script>
    function gotolist() {
        history.go(-1);
    }

    function gotoRegister(id) {
        location.href = '/studyContent/register?curriculumDetailId=' + id;
    }

</script>

</body>
</html>