<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>STUDY CONTENT</title>

    <meta name="_csrf_param" th:content="${_csrf.parameterName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!--<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>-->
    <!-- default header name is X-CSRF-TOKEN -->
    <!--<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <link rel="stylesheet" type="text/css" href="/css/studyContent.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>

</head>
<body>

<div class="info">
    <h3 th:text="${curriculumContent}" style="margin-left:1%; margin-top: .5em;"></h3>
    <p th:text="${curriculumDetailContent}" style="margin-left:1%; "></p>
    <div class="bord"></div>

    <!--<form action="/users/join" method="post">-->

    <fieldset id="sec">
    <p th:text="${studyContent.content}" style="margin-left:1%; margin-top:.5%; font-size: .9em; color: #c2c2c2;"></p><br>

        <!--<div class="box" th:each="curriculum,iter : ${curriculums}">-->
            <!--<input th:type="hidden" th:id="curriculumId" th:value="${curriculum.curriculumId}">-->
            <!--<p th:name ="curriculumId" th:value="${curriculum.curriculumId}" th:text="'STEP '+ ${iter.count}+': '+ ${curriculum.curriculumContent}" style="margin: 1%" th:onclick="'curriculumDetail('+${curriculum.curriculumId}+')'"></p>-->
            <!--<div class="curriculumDetails" th:id="'curriculumDetails'+${curriculum.curriculumId}">-->


            <!--</div>-->
        <!--</div>-->

    </fieldset>

    <div class="bord"></div>


    <div class="bt">
        <input type="button" value="목록" id="btnlist" onclick="gotolist()"/>
    </div>

    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

</div>
</body>
</html>