<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <th:block layout:fragment="css"><link href="/css/studyDetail.css" rel = "stylesheet"></th:block>
</head>
<body>
<div class="studyDetail">
<div class="info">
    <h3 th:text="${study.studyName}" style="margin-left:1%; margin-top: .5em;"></h3>
    <p th:text="${study.code}" style="margin-left:1%; margin-top:.5%; font-size: .9em; color: #c2c2c2;"></p><br>

    <p th:text="${study.studyInformation}" style="margin-left:1%; "></p>
    <div class="bord"></div>

    <fieldset id="sec">


        <div class="box" th:each="curriculum,iter : ${curriculums}">
            <!--<input th:type="hidden" th:id="curriculumId" th:name="curriculumId" th:value="${curriculum.curriculumId}">-->
            <input th:type="hidden" th:id="curriculumContent+${curriculum.curriculumId}" th:name="curriculumContent"
                   th:value="'STEP '+ ${iter.count}+': '+ ${curriculum.curriculumContent}">
            <div style="width:90%; overflow:hidden; border-bottom:1px solid; margin: 2%;padding-top:1%;padding-bottom:1%;">
                    <span th:type="text" th:name="'curriculumContent'" th:id="'curriculumContent'"
                          th:value="'STEP '+ ${iter.count}+': '+ ${curriculum.curriculumContent}"
                          th:text="'STEP '+ ${iter.count}+': '+ ${curriculum.curriculumContent}"
                          style="display: block; width:90%; float:left;"><img src="/images/edit.png"></span>
                <img class="updown" th:id="myDIV+${curriculum.curriculumId}" src="/images/down.png"
                     th:onclick="'curriculumDetail('+${curriculum.curriculumId}+')'">
                <img class="updown" th:id="myDIV2+${curriculum.curriculumId}" style="display: none;" src="/images/up.png"
                     th:onclick="'curriculumDetail('+${curriculum.curriculumId}+')'">
            </div>

            <div class="curriculumDetails" th:id="'curriculumDetails'+${curriculum.curriculumId}">

            </div>
        </div>

    </fieldset>

    <div class="bord"></div>

    <!----------------------버튼------------------------------------------>
    <div class="bt">
        <input type="button" value="목록" id="btnlist" onclick="gotolist()"/>
    </div>

    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</div>
</div>

<script>
    function gotolist() {
        location.href = "/study/list";
    }

    function curriculumDetail(curriculumId) {

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var JSONObject = {'curriculumId': curriculumId};
        var jsonData = JSON.stringify(JSONObject);
        var curriculumDetailDiv = "";

        if (document.getElementById("myDIV2"+curriculumId).style.display == 'none') {
            document.getElementById("myDIV"+curriculumId).style.display = 'none';
            document.getElementById("myDIV2"+curriculumId).style.display = 'block';
            if ($('#curriculumDetails' + curriculumId).empty()) {
                $.ajax({
                    url: '/api/curriculumDetails',
                    method: 'post',
                    // data: 'curriculumDetailId='+ encodeURIComponent(curriculumId),
                    data: jsonData,
                    async: false,
                    contentType: "application/json",
                    beforeSend: function( xhr ) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            curriculumDetailDiv = $('<li style="margin-left: 5%; margin-bottom:1%;" onclick="gotoContent('+ curriculumId +','+data[i].curriculumDetailId+')" value="' + data[i].curriculumDetailContent + '">' + data[i].curriculumDetailContent + '</li> ' +
                                '<input type="hidden" id="curriculumDetailContent'+data[i].curriculumDetailId+'" value="' + data[i].curriculumDetailContent + '"/>' +
                                '<input type="hidden" id="curriculumDetailId'+data[i].curriculumDetailId+'" value="' + data[i].curriculumDetailId + '"/>');
                            curriculumDetailDiv.appendTo($('#curriculumDetails' + curriculumId));
                        }
                    },
                    error: function (err) {
                        console.log(err.toString());
                    }
                });
            }
            $('#curriculumDetails' + curriculumId).show();
        } else {
            document.getElementById("myDIV"+curriculumId).style.display = 'block';
            document.getElementById("myDIV2"+curriculumId).style.display = 'none'
            $('#curriculumDetails' + curriculumId).hide();
        }
    }

    function gotoContent(curriculumId,curriculumDetailId) {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var curriculumDetailContent = $('#curriculumDetailContent'+curriculumDetailId).val();
        var curriculumDetailId = $('#curriculumDetailId'+curriculumDetailId).val();
        var curriculumContent = $('input[id=curriculumContent'+curriculumId+']').val();

        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post"); // Get 또는 Post 입력
        form.setAttribute("action", "/studyContent");

        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "curriculumDetailId");
        hiddenField.setAttribute("value", curriculumDetailId);
        form.appendChild(hiddenField);

        hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "curriculumDetailContent");
        hiddenField.setAttribute("value", curriculumDetailContent);
        form.appendChild(hiddenField);

        hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "curriculumContent");
        hiddenField.setAttribute("value", curriculumContent);
        form.appendChild(hiddenField);

        document.body.appendChild(form);
        form.submit();
    }

</script>

</body>
</html>