<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta name="_csrf_param" th:content="${_csrf.parameterName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>index</title>

    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Telex" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js"></script>

    <script type="text/javascript">
        function studyregister(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var studyName = document.getElementById("studyname").value;
            var studyInformation = document.getElementById("studyinformation").value;
            var categorysel = document.getElementById("categoryId");
            var categoryId = categorysel.options[categorysel.selectedIndex].value;
            categoryId = Number(categoryId);

            var JSONObject = {'studyName': studyName, 'studyInformation' : studyInformation, 'categoryId' : categoryId};
            var jsonData = JSON.stringify(JSONObject);

            $.ajax({
                url: '/api/studies',
                method: 'post',
                data: jsonData,
                async: true,
                contentType: "application/json",
                beforeSend: function( xhr ) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    location.href='/curriculum/curriculumregister?studyId='+data;
                },
                error: function (err) {
                    console.log(err.toString());
                }
            });
        }
    </script>


</head>

<body>
<div class="header" th:replace="fragments/header :: header">...</div>
<div id="wrap" style="margin-top: 100px;">

    <div id="cbox" style="width:100%;height:100%;margin:10% auto;">
            <form method="post" action="/study/add" style="width:80%;margin: 0 auto;font-size:0.8em;font-weight:bold;">
                category :
                <select name="categoryId" id="categoryId" style="margin-left:7%;">
                    <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                </select>
                </br></br>

                <label class="addstudy" for="studyname"></label>
                <input type="text" id="studyname" name="studyName" style="padding:2% 1%;margin: 1% auto;width:100%;" placeholder="스터디 제목을 입력해주세요" autofocus required>
                </br></br>


                <textarea name="studyInformation"  id="studyinformation"  style="padding:2% 1%;margin: 1% auto;width:100%;" cols="40" rows="10" placeholder="스터디에 대한 설명을 입력해주세요" required ></textarea>
                <br>
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />

                <input th:onclick="studyregister()" id="next" type="button" value="다음" style="width:30%; float:right; color:#666; border:1px solid #f2cc32;background-color:#fff;">
            </form>

    </div>

</div>


</body>
</html>