*{margin:0; padding:0; box-sizing:border-box;}

	a {text-decoration:none; color:#000;}
	img{vertical-align:bottom;}
	ul {list-style-position:inside;}
	ul li{list-style:none;}
body{font-family: 'Nanum Gothic', sans-serif;
	/*font-size:0.8em;*/}

img, figure {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  line-height: 0; }

#main-sidebar ul, #main-navbar ul {
  padding: 0;
  list-style-type: none; }

#main-sidebar li, #main-navbar li {
  margin: 8px 0;
  display: block; }

#main-sidebar li a, #main-navbar li a {
  display: block; }

/**************로고 메뉴바******************/
.main-navbar {
  position: relative;
    font-size:0.8em;
  height: 73px;
  width:100%;
  color: #999;
  z-index: 10; }

.main-navbar-fixed-top {
	background-color:#fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 73px; }
  
.main-navbar-content div.logo{
	margin: 3% auto;
	width:150px;
}
.main-navbar-content div.logo img{
	width:100%;
}

.icon img {
	width:32px;
  position: absolute;
  top: 10px;
  right:8px; }

/**************카테고리메뉴******************/
.main-navbar-content nav.categorymenu{
	width:100%;
	margin:-1px auto;
	text-align:center;
	display:block;
	border-bottom:1px solid #f2cc32;
	border-top:1px solid #f2cc32;
	overflow:hidden;
	background-color:#fff;
	}

.main-navbar-content nav.categorymenu ul{width:90%; margin:0 auto; overflow:hidden;}
.main-navbar-content nav.categorymenu ul li{width:25%; float:left; margin:0;}	
.main-navbar-content nav.categorymenu ul li a{
 line-height:1;	display:block;}


/*************전체설정****************/  
.left {
  float: left; }

.right {
  float: right; }
  



/*************클릭 슬라이더****************/ 
.main-sidebar {
  position: fixed;
  top: 0;
    font-size:0.8em;
  bottom: 0;
  background-color: #f2cc32;
  color: white;
  width: 250px; }

.click_menu{
    margin-left: 10px;
}
.click_menu li{
    border-bottom: 1px solid #d2ac11;
    padding-bottom: 15px;
    padding-left: 10px;
}
.click_menu li:first-child{
    padding-top:15px;
    border-top: 1px solid #d2ac11;
}

.click_menu a{
    line-height: 3;
}
.main-sidebar a:link {
  color: white; }

.main-sidebar a{
    font-color: #fff;
}

.main-sidebar a:visited {
  color: white; }


.main-sidebar a:active {
  color: white; }

.main-sidebar .section {
  margin: 1em 0;
  margin-bottom: 2em !important; }

.main-sidebar-right {
  right: 0;
  text-align: right; }

.main-sidebar-left {
  left: 0;
  text-align: left; }

[data-ssbplugin="sbwrapper"] {
  padding: 1em; }

.dynamic-right .main-navbar-content {
  float: right; }

.dynamic-left .main-navbar-content {
  float: left; }

.main-sidebar-wrapper {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em; }
