<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="/css/basic.css">
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
<!--<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Telex" rel="stylesheet">



<link href="https://fonts.googleapis.com/css?family=Biryani|Inconsolata|Merriweather|Noto+Sans|Open+Sans+Condensed:300|PT+Sans|Roboto+Slab|Telex" rel="stylesheet">
<style>


</style>


</head>

<body>
<div class="index">


<div class="box">
    <img src="img/icon.png"/>
    <h1>Study Manager</h1>
</div>
<div class ="button">
    <a class="join button" href="users/join">JOIN</a>
    <a class="login button"	href="users/login">LOGIN</a>
</div>
</div>

</body>

</html>