<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_">
<head>
    <th:block layout:fragment="css">
        <link href="/css/recruitstudylist.css" rel = "stylesheet">
        <link href="/css/modal.css" rel = "stylesheet">
    </th:block>
</head>
<body>

<div class='main-content' id='main'>
    <div class='section'>

        <div class="recruitstudy_detail">
            <h3 th:text="${recruitstudy.category.categoryName} +' ) ' +${recruitstudy.recruitName}" style="margin-left:1%; margin-top: .5em;"></h3><br>
            <div class="recruitstudy_detail_box1">
                <p class="email" th:text="${recruitstudy.user.email}"></p>
                <p class="location" th:text="${recruitstudy.location}" ></p>
            </div>

            <p th:text="'모집인원 : '+${recruitstudy.recruitNumber}" style="margin-left: 3%;"></p>


            <!--<p class="date" th:text="${recruitstudy.regdate}" style="float: right; color:lightgray"></p>-->
            <p class="date" th:text="${#dates.format(recruitstudy.regdate, 'yyyy-MM-dd HH:mm')}" style="float: right; color:lightgray; padding-right: 3%;"></p>

            <br>
            <div class="rcontent" th:text="${recruitstudy.recruitContent}"></div><br>



        </div>
        <input type="button" th:onclick="'beforepage()'" id="list_button" value="목록">
    </div>

    <!--모달창-->
    <div>
        <button class="trigger">메시지 보내기</button>

        <!-- 팝업 될 레이어 -->
        <div class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h3 class="title">메시지 보내기</h3>
                <form action="#post.php" method="POST">
                    <label for="receiver">받는사람</label>
                    <p th:text="${recruitstudy.user.email}"></p>
                    <input type="hidden" name="email" id="receiver" th:value="${recruitstudy.user.userId}">
                    <input type="hidden" name="email" id="sender" th:value="${#authentication.principal.id}">
                    <label></label>
                    <textarea name="messageContent" id="messageContent" placeholder="Test Message" required="required"></textarea><br>
                    <input type="button" id="cancel" value="취소">
                    <input th:onclick="sendmessage()" type="button" id="submit" value="보내기">

                </form>
            </div>
        </div>


    </div>
</div>



<!-- div#main-sidebar -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
<script src='/js/jquery.simple-sidebar.js'></script>
<script>


    // 모달창
    var modal = document.querySelector(".modal");
    var trigger = document.querySelector(".trigger");
    var closeButton = document.querySelector(".close-button");
    var cancelButton = document.querySelector("#cancel");

    //console.log(modal);

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    cancel.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);


        function sendmessage() {
            var receiver = document.getElementById("receiver").value;
            var sender = document.getElementById("sender").value;
            var messageContent = document.getElementById("messageContent").value;

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var JSONObject = {'receiver': receiver, 'sender' : sender, 'messageContent' : messageContent};
            var jsonData = JSON.stringify(JSONObject);

            $.ajax({
                url: '/api/messages',
                method: 'post',
                data: jsonData,
                async: false,
                contentType: "application/json",
                beforeSend: function( xhr ) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    toggleModal();
                },
                error: function (err) {
                    console.log(err.toString());
                }
            });
        }

    function beforepage() {
        location.href='/recruitstudy/list';
    }



</script>

</body>
</html>