<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset='utf-8'>
    <meta content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0'
          name='viewport'>
    <title>messageList</title>

    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/message.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Telex" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js"></script>

    <script type="text/javascript">

    </script>
</head>
<body>
<div class="header" th:replace="fragments/header :: header">...</div>
<div class='main-content' id='main'>
    <div class='section_messagelist'>
        <div class="message_box" th:each="message : ${messageList}">
            <span th:if="${message.readCount}==0" style="color: red; float: right; font-size: 0.85em;" >읽지않음</span>
            <span th:if="${message.readCount}!=0" style="color: blue; float: right; font-size: 0.85em;">읽음</span>
            <p class="mcontent"><a th:href="'/message/messagedetail/'+${message.messageId}" th:text="${message.messageContent}">recruitstudyName</a>
            </p>
            <p th:text="${message.user.email}">보낸사람</p>
            <p th:text="${#dates.format(message.regdate, 'yyyy-MM-dd')}">regDate</p>
            <!--${#dates.format(message.regdate, 'yyyy-MM-dd')}-->


        </div>
    </div>
</div>



</body>
</html>