<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <th:block layout:fragment="css"><link href="/css/message.css" rel = "stylesheet"></th:block>
</head>
<body>

<div class='main-content' id='main'>
    <div class='section_messagelist'>
        <div class="message_box" th:each="message : ${messageList}">
            <span th:if="${message.readCount}==0" style="color: red; float: right; font-size: 0.85em;" >읽지않음</span>
            <span th:if="${message.readCount}!=0" style="color: blue; float: right; font-size: 0.85em;">읽음</span>
            <p class="mcontent"><a th:href="'/message/messagedetail/'+${message.messageId}" th:text="${message.messageContent}">recruitstudyName</a>
            </p>
            <p th:text="${message.user.email}">보낸사람</p>
            <p th:text="${#dates.format(message.regdate, 'yyyy-MM-dd')}">regDate</p>
            <!--${#dates.format(message.regdate, 'yyyy-MM-dd')}-->


        </div>
    </div>
</div>



</body>
</html>